<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{room.imagen}}" (click)="selectImage()">
      </ion-thumbnail>
    </ion-item>
    <ion-item *ngIf="isCreatingRoom">
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="room.name" type="string" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ocupada?</ion-label>
    </ion-item>
    <ion-list radio-group [(ngModel)]="room.ocupada">
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio value="true"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="false"></ion-radio>
        </ion-item>
      </ion-list>
     <ion-item>
      <ion-label>Fecha de Limpieza</ion-label>
      <ion-input [(ngModel)]="room.fechaLimpieza" type="date" placeholder="Fecha de Limpieza"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Asientos</ion-label>
      <ion-input [(ngModel)]="room.asientos" type="number" placeholder="Asientos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación</ion-label>
      <ion-select [(ngModel)]="room.ubicacion">
          <ion-option *ngFor="let floor of floors" value="{{floor}}">Piso {{floor}}</ion-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <button ion-button *ngIf="isCreatingRoom" (click)="createRoom()">Crear</button>
      <button ion-button *ngIf="!isCreatingRoom" (click)="updateRoom()">Guardar</button>
      <button ion-button (click)="navCtrl.pop()">Cancelar</button>
    </ion-item>
  </ion-list>
</ion-content>
